@using Homework18.Models.Runtime.Books
@model List<Book>
@{
    ViewData["Title"] = "Books";
    var books = Model;
}

<div class="main-wrapper">
    <h3>Список книг</h3>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Скачать</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                var bookId = book.Id;
                <tr>
                    <td>@book.Name</td>
                    <td>@book.Author</td>
                    <td>
                        <a href="Books/DownloadAsTxt?bookId=@bookId" target="_blank">.txt</a>
                        <a href="Books/DownloadAsDocx?bookId=@bookId" target="_blank">.docx</a>
                        <a href="Books/DownloadAsPdf?bookId=@bookId" target="_blank">.pdf</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>