@model string

@{
    ViewData["Title"] = "Create animal";
}

<form method="post">
    <div class="main-wrapper">
        <div class="radio-box">
            <h4>Выберите класс</h4>

            <input type="radio" id="mammal" name="Class" value="Mammal" onclick="validation()"/>
            <label for="mammal">Млекопитающее</label>

            <input type="radio" id="amphibian" name="Class" value="Amphibian" onclick="validation()" />
            <label for="amphibian">Земноводное</label>

            <input type="radio" id="bird" name="Class" value="Bird" onclick="validation()" />
            <label for="bird">Птица</label>

            <input type="radio" id="unknown" name="Class" value="Unknown" onclick="validation()" />
            <label for="unknown">Не классифицировано</label>
        </div>

        <div class="input-box">
            <input id="text-input-1" type="text" placeholder="Введите домен" name="Domain" oninput="validation()" />
            <input id="text-input-2" type="text" placeholder="Введите царство" name="Kingdom" oninput="validation()" />
            <input id="text-input-3" type="text" placeholder="Введите тип" name="Type" oninput="validation()" />
            <input id="text-input-4" type="text" placeholder="Введите отряд" name="Squad" oninput="validation()" />
            <input id="text-input-5" type="text" placeholder="Введите семейство" name="Family" oninput="validation()" />
            <input id="text-input-6" type="text" placeholder="Введите род" name="Genus" oninput="validation()" />
        </div>

        <button id="submit-button" type="submit" disabled>Добавить</button>
    </div>
</form>

@if (!string.IsNullOrWhiteSpace(Model))
{
    <h6 style="color: red">@Model</h6>
}