@{
    ViewData["Title"] = "Home Page";
}

<div class="main-wrapper">
    <h3>Список зaданий:</h3>
    <a href="Animals">1. Фабрика животных</a><br />
    <a href="Books">2. Книжная библиотека</a>
</div>